# Compiled Object files
*.slo
*.lo
*.o


# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency makefiles
*.d

# Compiled executable
emulationstation

# build directory
build
Debug
Release
MinSizeRel
RelWithDebInfo

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
*.cmake

# Eclipse
.cproject
.project
.settings/

# IntelliJ
.idea

# build artifacts
*.cbp
cmake-build-debug

# compile unit test executable
runUnitTests

# Server protobuf files
*.pb.h
*.pb.cc

# Dolphin File manager preferences
.directory

# Google Test Dependencies
googletest-*